################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Codes/15上/15上/Debug
/Codes/15上/Debug
